on: [push, pull_request]

name: CI

jobs:
  CI:
    name: Node ${{ matrix.node }} and npm
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [20.19.0, 22, 24]
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version: ${{ matrix.node }}
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Run TypeScript type checking
        if: ${{ !startsWith(github.head_ref || github.ref_name, 'javascript') }}
        run: npm run typecheck

      - name: Run ESLint
        run: npm run lint

      - name: Build application
        run: npm run build
